*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', San Francisco, Roboto, Arial;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 0px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.nav img{
    width: 70px;
    height: 70px;
    padding-left: 15px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-right: 30px;
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav-image{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjb2ZmZWUlMjBzaG9wJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzU5OTY0OTYzfDA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral");
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav-image h2{
    text-align: center;
    padding: 20px 0;
}
.fa-solid{
    font-size: 4rem;
    color: white;
}

.nav-heading1{
    letter-spacing: 2px;
    font-size: 5.5rem;
    font-weight: 400;
    padding: 20px 0px;
    text-align: center;
}

.nav-heading2{
    font-weight: 350;
    padding-bottom: 20px;
    text-align: center;
    align-self: center;
}

.nav-image button{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
}
.nav-image button:hover{
    cursor: pointer;
    opacity: 60%;
}
.nav-image button:active{
    opacity: 40%;
}

/* oNas */

.oNas{
    display: flex;
    justify-content: space-between;
    width: 80%;
    justify-self: center;
    gap: 5em;
    margin: 50px 0px;
    padding: 50px 0;
}

.oNas .oNas-text{
    width: 100%;
}
.oNas .oNas-text h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.oNas .oNas-text h3{
    color: rgb(143, 143, 143);
}

.oNas-img{
    border-radius: 10px;
    opacity: 100%;
    transition: 200ms ease-in-out;
    width: 100%;
    height: auto;
    flex-shrink: 1;
}

.oNas-img img {
    width: 100%;         
    height: auto;        
    display: block;      
    border-radius: 10px; 
}

.oNas-img:hover{
    opacity: 90%;
}

/* MENU */
.menu{
    background-color: rgb(245, 245, 245);  
    padding: 10px 0;  
    margin: 20px 0;
}

.menuContainer{
    width: 80%;
    justify-self: center;
}
.menuContainer h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;    
}
.menuContainer h3{
    text-align: center;
    padding: 10px 0px;
    color: rgb(143, 143, 143);
}

.menuContainer .menu-images{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.menuContainer .menu-images img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    padding: 20px;
    border-radius: 30px;
    min-width: 200px;
    min-height: auto;
    opacity: 100%;
    transition: 200ms ease-in-out;
}

.menuContainer .menu-images img:hover{
    opacity: 90%;
}

.menuContainer .menuCards{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1em;
    margin-top: 30px;
    flex-wrap: wrap;
}

.menuContainer .menuCards .card{
    margin: 0;     /* Remove horizontal margin for pure space-between */
    border-radius: 15px;
    padding: 10px 10px;
    width: 30%;
    background-color: white;
    box-shadow: 8px 5px 16px -1px rgba(158,158,158,0.78);
    -webkit-box-shadow: 8px 5px 16px -1px rgba(158,158,158,0.78);
    -moz-box-shadow: 8px 5px 16px -1px rgba(158,158,158,0.78);
}

.card h3{
    text-align: start;
    color: rgb(85, 85, 85);
}

.menuContainer .menuCards .card section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nazwa cena"
    "opis opis";
}
.menuContainer .menuCards .card section > .nazwa{
    grid-area: nazwa;
    text-align: start;
    color: black;
    font-weight: 500;
}
.menuContainer .menuCards .card section > .cena{
    grid-area: cena;
    text-align: end;
    color: black;
    font-weight: 500;
}
.menuContainer .menuCards .card section > .opis{
    grid-area: opis;
    font-size: 16px;
    text-align: start;
    padding: 4px;
}

/* KONTAKT */

.kontakt{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    justify-self: center;
}

.kontakt .kontakt-h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400; 
}
.kontakt .kontakt-h3{
    text-align: center;
    padding: 10px 0px;
    color: rgb(143, 143, 143);
}

.kontakt .konaktElementsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
    gap: 1em;
    color: rgb(143, 143, 143);
    font-size: 0.8rem;
    flex-wrap: wrap;
}
.kontakt .konaktElementsContainer #kontaktElement{
    border: 2px solid rgb(95, 95, 95);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}
.kontakt .konaktElementsContainer #kontaktElement h2{
    margin: 30px 0;
}
.kontakt .konaktElementsContainer #kontaktElement .dodatkowe{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.openSidebar, .closeSidebar, #first-line-navUl{
        display: none;
    }

.container-500px{
    display: none;
}
iframe{
    width: 100%;
    border-radius: 15px;
    max-height: 500px;
}

/* FOOTER */
footer{
    height: 600px;
    background-color: rgb(21, 17, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

footer h2{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 30px;
}
footer h3{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
}
footer .userInterface{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    margin: 0 50px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
}
.szybkieLinki-section ul{
    list-style-type: none;
}
.szybkieLinki-section li{
    padding: 5px 0;
}

.szybkieLinki-section a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.socialMedia-section ul{
    list-style-type: none;
    display: flex;
    gap: 1em;
}
.copyright h2{
    text-align: center;
}

@media only screen and (max-width: 1200px){
    #kontaktElement{ flex-basis: 45%;}
    .menuCards .card{ flex-basis: 100%;}
}


@media only screen and (max-width: 1024px){
    #kontaktElement{ flex-basis: 100%; height: 70%; }
    .oNas{flex-wrap: wrap;}
    .oNas-img{ width: 100%; display: flex; justify-content: center;}
    .oNas-img img{text-align: center;}
    .nav-heading1{font-size: 4.5rem;}
}

@media only screen and (max-width: 800px){
    .oNas .oNas-text h2{font-size: 2rem;}
    .oNas .oNas-text h3{font-size: 1rem; width: 100%;}
    .menu-images{flex-wrap: wrap; justify-content: center;}
    .nav-buttons-container{flex-wrap: wrap;}
    .nav-buttons-container button{width: 100%;}
    footer{
        height: 800px;
    }
    footer .userInterface #section{
        flex-basis: 100%;
        padding-left: 20px;
    }
    .kawiarnia-section{
        padding-top: 50px;
    }
}

@media only screen and (max-width: 500px){
    .oNas .oNas-text h3{font-size: 1rem;}
    .openSidebar, .closeSidebar{
        display: block;
    }
    .openSidebar{
        justify-self: end;
        padding: 5px;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .nav-image h2{
        font-size: 1.1rem;
    }
    .container-500px{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        padding-top: 25px;
        margin-left: 50px;
    }
    .container-500px p{
        font-size: 1.1rem;
        font-weight: 500;
    }
    .container-500px p i{
        padding: 0 10px;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 30%;
        width: 100%;
        z-index: 2001;
        border-left: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: start;
        transition: top 300ms ease-out;
    }
    .nav.show{
        right: 0;
        border-bottom: 1px solid black;
    }
    .nav img{
        display: none;
    }
    .nav ul{
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }
    .nav li{
        text-align: start;
        margin: 10px;
        width: 100%;
    }
    .nav a{
        width: 100%;
        padding: 20px;
        font-weight: 400;
    }

    iframe{
        max-height: 250px;
    }

    #first-line-navUl{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
        font-size: 1.1rem;
        font-weight: 500;
        width: 99%;
        justify-self: center;
    }
    #first-line-navUl button{
        background: transparent;
        border: none;
        padding: 5px;
        cursor: pointer;
        justify-self: end;
    }
}
