* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'San Francisco', Roboto, Arial;
  scroll-behavior: smooth;
}

:root {
  --spacing-top-h1: 32px;
  --spacing-top-h2: 64px;
  --spacing-bottom-h2: 32px;
  --spacing-top-p: 32px;
  --spacing-bottom-p: 64px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.nav {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  background-color: white;
}

.nav img {
  width: 70px;
  height: 70px;
  padding-left: 15px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-right: 30px;
  list-style-type: none;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  background:
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url('https://images.unsplash.com/photo-1521017432531-fbd92d768814?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjb2ZmZWUlMjBzaG9wJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzU5OTY0OTYzfDA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral');
  background-size: cover;
  color: white;
}

.nav-image h1 {
  padding-top: var(--spacing-top-h1);
  text-align: center;
}

.nav-image h2 {
  padding: 20px 0;
  text-align: center;
}

.fa-solid {
  color: white;
  font-size: 4rem;
}

.nav-image button {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}

.nav-image button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.nav-image button:active {
  opacity: 0.4;
}

/* oNas */

.oNas {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 80%;
  margin: 50px 0;
  padding: 50px 0;
  gap: 5em;
}

.oNas .oNas-text {
  width: 100%;
}

.oNas .oNas-text .oNas-heading2 {
  padding: 32px 0;
}

.oNas .oNas-text .oNas-heading3 {
  padding-top: var(--spacing-top-p);
  color: rgb(143 143 143);
}

.oNas-img {
  flex-shrink: 1;
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.oNas-img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.oNas-img:hover {
  opacity: 0.9;
}

/* MENU */
.menu {
  margin: 20px 0;
  padding: 64px 0;
  background-color: rgb(245 245 245);
}

.menuContainer {
  justify-self: center;
  width: 80%;
}

.menuContainer h2 {
  padding-top: var(--spacing-top-h2);
  padding-bottom: var(--spacing-bottom-h2);
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.menuContainer p {
  padding: 10px 0;
  padding-bottom: 64px;
  color: rgb(143 143 143);
  text-align: center;
}

.menuContainer .menu-images {
  display: flex;
  justify-content: center;
  gap: 6em;
}

.menuContainer h3 {
  padding: 10px 0;
  color: rgb(143 143 143);
  text-align: center;
}

.menuContainer .menu-images img {
  width: 100%;
  height: 300px;
  min-height: auto;
  padding: 20px;
  object-fit: cover;
  border-radius: 30px;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.menuContainer .menu-images img:hover {
  opacity: 0.9;
}

.menuContainer .menuCards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 30px;
  gap: 1em;
}

.menuContainer .menuCards .card {
  width: 30%;
  margin: 0; /* Remove horizontal margin for pure space-between */
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  -moz-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  text-align: start;
}

.card h3 {
  color: rgb(85 85 85);
  text-align: start;
}
#menuCard3Button {
  width: 113.52px;
  font-weight: 500;
  font-size: 13.3333px;
}

.card #menuCard1Button,
#menuCard2Button,
#menuCard3Button {
  display: block;
  align-self: flex-end;
  margin: 10px 0;
  margin-right: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.menuContainer .menuCards .card section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nazwa cena'
    'opis opis';
}

.menuContainer .menuCards .card section > .nazwa {
  grid-area: nazwa;
  color: black;
  font-weight: 600;
  text-align: start;
}

.menuContainer .menuCards .card section > .cena {
  grid-area: cena;
  color: black;
  font-weight: 500;
  text-align: end;
}

.menuContainer .menuCards .card section > .opis {
  grid-area: opis;
  margin-top: 4px;
  padding: 4px;
  color: #5e5e5e;
  font-size: 16px;
  text-align: start;
}

.top-container {
  position: sticky;
  top: 0;
  text-align: end;
}
.top-container button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}

#card1-modal {
  place-self: center center;
  width: 70%;
  max-height: 500px;
  margin: 0; /* Remove horizontal margin for pure space-between */
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(255 255 255);
  -webkit-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  -moz-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  text-align: start;
}

#card2-modal {
  place-self: center center;
  width: 70%;
  max-height: 500px;
  margin: 0; /* Remove horizontal margin for pure space-between */
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(255 255 255);
  -webkit-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  -moz-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  text-align: start;
}

#card3-modal {
  place-self: center center;
  width: 70%;
  max-height: 500px;
  margin: 0; /* Remove horizontal margin for pure space-between */
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(255 255 255);
  -webkit-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  -moz-box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  box-shadow: 0px 0px 16px 5px rgba(152, 153, 154, 1);
  text-align: start;
}

/* KONTAKT */

.kontakt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 80%;
  margin: 40px 0;
}

.kontakt .kontakt-h2 {
  padding-top: var(--spacing-top-h2);
  padding-bottom: var(--spacing-bottom-h2);
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.kontakt .kontakt-p {
  padding-bottom: 64px;
  color: rgb(143 143 143);
  text-align: center;
}

.kontakt .konaktElementsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;
  gap: 1em;
  color: rgb(143 143 143);
  font-size: 0.8rem;
}

.kontakt .konaktElementsContainer #kontaktElement {
  width: 20%;
  padding: 15px;
  border: 2px solid rgb(95 95 95);
  border-radius: 15px;
}

.kontakt .konaktElementsContainer #kontaktElement h2 {
  margin: 30px 0;
}

.kontakt .konaktElementsContainer #kontaktElement .dodatkowe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.openSidebar,
.closeSidebar,
#first-line-navUl {
  display: none;
}

.container-500px {
  display: none;
}

iframe {
  width: 100%;
  height: 300px;
  max-height: 500px;
  border: none;
  border-radius: 15px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: rgb(21 17 35);
  color: white;
}

footer h2 {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 1.1rem;
}

footer h3 {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 1rem;
}

footer .userInterface {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 0 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 3rem;
  border-bottom: 1px solid gray;
}

.szybkieLinki-section ul {
  list-style-type: none;
}

.szybkieLinki-section li {
  padding: 5px 0;
}

.szybkieLinki-section a {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}

.socialMedia-section ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

.copyright h2 {
  text-align: center;
}

@media only screen and (width <= 1200px) {
  #kontaktElement {
    flex-basis: 45%;
  }
  .menuContainer .menu-images {
    gap: 3em;
  }

  .menuCards .card {
    flex-basis: 100%;
  }
}

@media only screen and (width <= 1024px) {
  #kontaktElement {
    flex-basis: 100%;
    height: 70%;
  }

  .oNas {
    flex-wrap: wrap;
  }

  .oNas-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .oNas-img img {
    text-align: center;
  }

  .nav-heading1 {
    font-size: 4.5rem;
  }
}

@media only screen and (width <= 800px) {
  .oNas .oNas-text h2 {
    font-size: 2rem;
  }

  .menuContainer .menu-images {
    gap: 1em;
  }

  .oNas .oNas-text h3 {
    width: 100%;
    font-size: 1rem;
  }

  .menu-images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-buttons-container {
    flex-wrap: wrap;
  }

  .nav-buttons-container button {
    width: 100%;
  }

  footer {
    height: auto;
  }

  footer .userInterface #section {
    flex-basis: 100%;
    padding-left: 20px;
  }

  .kawiarnia-section {
    padding-top: 50px;
  }
}

@media only screen and (width <= 500px) {
  #card1-modal {
    height: 100%;
  }
  #card2-modal {
    height: 100%;
  }
  #card3-modal {
    height: 100%;
  }
  .oNas .oNas-text p {
    font-size: 1rem;
  }

  @media only screen and (width <= 1024px) {
    #kontaktElement {
      flex-basis: 100%;
    }

    .oNas {
      flex-wrap: wrap;
    }

    .oNas-img {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .oNas-img img {
      text-align: center;
    }

    .nav-heading1 {
      font-size: 4.5rem;
    }
  }

  @media only screen and (width <= 800px) {
    .oNas .oNas-text h2 {
      font-size: 2rem;
    }

    .oNas .oNas-text p {
      width: 100%;
      font-size: 1rem;
    }
    .kontakt .konaktElementsContainer #kontaktElement h2 {
      margin: 16px 0;
    }

    .menu-images {
      flex-wrap: wrap;
      justify-content: center;
    }
    .menu h2 {
      padding-top: 32px;
    }

    .kontakt-h2 {
      padding-top: 24px;
    }
    .kontakt-p {
      padding-bottom: 24px;
    }
    .nav-buttons-container {
      flex-wrap: wrap;
    }

    .nav-buttons-container button {
      width: 100%;
    }

    footer .userInterface #section {
      flex-basis: 100%;
      padding-left: 20px;
    }

    .kawiarnia-section {
      padding-top: 50px;
    }
  }

  @media only screen and (width <= 500px) {
    .oNas {
      margin-top: 0;
    }
    .oNas .oNas-text .oNas-heading2 {
      padding: 16px 0;
    }

    .openSidebar,
    .closeSidebar {
      display: block;
    }

    .openSidebar {
      justify-self: end;
      padding: 5px;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .nav-image h2 {
      font-size: 1.1rem;
    }

    .container-500px {
      display: flex;
      z-index: 9998;
      position: fixed;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px;
      padding-top: 25px;
      background-color: white;
    }
    .container-500px .openSidebar {
      margin-right: 35px;
    }

    .container-500px p {
      font-weight: 500;
      font-size: 1.1rem;
    }

    .container-500px p {
      padding: 0 10px;
    }

    .nav {
      display: flex;
      z-index: 9999;
      position: fixed;
      top: 0;
      right: -100%;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      height: 30%;
      border-left: 1px solid black;
      transition: top 300ms ease-out;
    }

    .nav.show {
      right: 0;
      border-bottom: 1px solid black;
    }

    .nav img {
      display: none;
    }

    .nav ul {
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
    }

    .nav li {
      width: 100%;
      margin: 10px;
      text-align: start;
    }

    .nav a {
      width: 100%;
      padding: 20px;
      font-weight: 400;
    }

    iframe {
      max-height: 250px;
    }

    .menuContainer h2 {
      padding-bottom: 16px;
    }

    .menuContainer p {
      padding-bottom: 32px;
    }

    #first-line-navUl {
      display: flex;
      justify-content: space-between;
      justify-self: center;
      width: 99%;
      padding-bottom: 10px;
      padding-left: 20px;
      border-bottom: 1px solid gray;
      font-weight: 500;
      font-size: 1.1rem;
    }

    #first-line-navUl button {
      justify-self: end;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    #first-line-navUl button i {
      margin-right: 20px;
    }
  }
}
